@(username: String)

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Empty Page - Ace Admin</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

			<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href='@routes.Assets.at("css/bootstrap.css")' />
		<link rel="stylesheet" href='@routes.Assets.at("css/font-awesome.css")' />

			<!-- page specific plugin styles -->

			<!-- text fonts -->
		<link rel="stylesheet" href='@routes.Assets.at("css/ace-fonts.css")' />

			<!-- ace styles -->
		<link rel="stylesheet" href='@routes.Assets.at("css/ace.css")' class="ace-main-stylesheet" id="main-ace-style" />

			<!--[if lte IE 9]>
			<link rel="stylesheet" href='@routes.Assets.at("css/ace-part2.css")' class="ace-main-stylesheet" />
			<![endif]-->

			<!--[if lte IE 9]>
		  <link rel="stylesheet" href='@routes.Assets.at("css/ace-ie.css")' />
			<![endif]-->

			<!-- inline styles related to this page -->

			<!-- ace settings handler -->
		<script src='@routes.Assets.at("js/ace-extra.js")'></script>

			<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

			<!--[if lte IE 8]>
		<script src='@routes.Assets.at("js/html5shiv.js")'/>
		<script src='@routes.Assets.at("js/respond.js")'/>
		<![endif]-->
	</head>

	<body class="no-skin">



		<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="gridSystemModalLabel">Change name</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<input id="inputName" type="text" name="poj">

							</div>

						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" id="btnUpdateName" class="btn btn-primary">Save changes</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>
			<!-- #section:basics/navbar.layout -->
		<div id="navbar" class="navbar navbar-default">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
					<!-- #section:basics/sidebar.mobile.toggle -->
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

					<!-- /section:basics/sidebar.mobile.toggle -->
				<div class="navbar-header pull-left">
						<!-- #section:basics/navbar.layout.brand -->
					<a href="#" class="navbar-brand">
						<small>
							<i class="fa fa-leaf"></i>
							Ace Admin
						</small>
					</a>

						<!-- /section:basics/navbar.layout.brand -->

						<!-- #section:basics/navbar.toggle -->

						<!-- /section:basics/navbar.toggle -->
				</div>

					<!-- #section:basics/navbar.dropdown -->
				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
							<!-- #section:basics/navbar.user_menu -->
						<li class="light-blue">
							<a data-toggle="modal" data-target="#userModal">
								<img class="nav-user-photo" src='@routes.Assets.at("avatars/user.jpg")' alt="Jason's Photo" />
								<span class="user-info">
									<small>Welcome,</small>
									@username
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

						</li>

							<!-- /section:basics/navbar.user_menu -->
					</ul>
				</div>

					<!-- /section:basics/navbar.dropdown -->
			</div><!-- /.navbar-container -->
		</div>

			<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
				<!-- #section:basics/sidebar -->
			<div id="sidebar" class="sidebar                  responsive">
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>



				<ul id="listUsers" class="nav nav-list">

				</ul><!-- /.nav-list -->

				<!-- /section:basics/sidebar.layout.minimize -->
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
			</div>

				<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
                            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                        </script>

						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li>
								<a href="#">Other Pages</a>
							</li>
							<li class="active">Blank Page</li>
						</ul><!-- /.breadcrumb -->

						<!-- #section:basics/content.searchbox -->
						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->

						<!-- /section:basics/content.searchbox -->
					</div>
					<div class="page-content">
						<div class="page-header">

							<input type="text" value="Jozo" class="form-control">


						</div><!-- /.page-header -->
						<div class="row">
							<div class="col-xs-12">
								<p>
									<button class="btn btn-info card">0</button>
									<button class="btn btn-info card">1/2</button>
									<button class="btn btn-info card">2</button>
									<button class="btn btn-info card">3</button>
									<button class="btn btn-info card">5</button>
									<button class="btn btn-info card">8</button>
									<button class="btn btn-info card">13</button>
									<button class="btn btn-info card">20</button>
									<button class="btn btn-info card">40</button>
									<button class="btn btn-info card">100</button>
									<button class="btn btn-info card">?</button>
									<button class="btn btn-info card">kava</button>
								</p>
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->


				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../assets/js/jquery.js'>"+"<"+"/script>");
		</script>

			<!-- <![endif]-->

			<!--[if IE]>
		<script type="text/javascript">
		 window.jQuery || document.write("<script src='../assets/js/jquery1x.js'>"+"<"+"/script>");
		</script>
		<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script>
		<script src='@routes.Assets.at("js/bootstrap.js")'></script>

			<!-- page specific plugin scripts -->

			<!-- ace scripts -->
		<script src='@routes.Assets.at("js/ace/elements.scroller.js")'></script>
		<script src='@routes.Assets.at("js/ace/elements.colorpicker.js")'></script>
		<script src='@routes.Assets.at("js/ace/elements.fileinput.js")'></script>
		<script src='@routes.Assets.at("js/ace/elements.typeahead.js")'></script>
		<script src='@routes.Assets.at("js/ace/elements.wysiwyg.js")'></script>
		<script src='@routes.Assets.at("js/ace/elements.spinner.js")'></script>
		<script src='@routes.Assets.at("js/ace/elements.treeview.js")'></script>
		<script src='@routes.Assets.at("js/ace/elements.wizard.js")'></script>
		<script src='@routes.Assets.at("js/ace/elements.aside.js")'></script>
		<script src='@routes.Assets.at("js/ace/ace.js")'></script>
		<script src='@routes.Assets.at("js/ace/ace.ajax-content.js")'></script>
		<script src='@routes.Assets.at("js/ace/ace.touch-drag.js")'></script>
		<script src='@routes.Assets.at("js/ace/ace.sidebar.js")'></script>
		<script src='@routes.Assets.at("js/ace/ace.sidebar-scroll-1.js")'></script>
		<script src='@routes.Assets.at("js/ace/ace.submenu-hover.js")'></script>
		<script src='@routes.Assets.at("js/ace/ace.widget-box.js")'></script>
		<script src='@routes.Assets.at("js/ace/ace.settings.js")'></script>
		<script src='@routes.Assets.at("js/ace/ace.settings-rtl.js")'></script>
		<script src='@routes.Assets.at("js/ace/ace.settings-skin.js")'></script>
		<script src='@routes.Assets.at("js/ace/ace.widget-on-reload.js")'></script>
		<script src='@routes.Assets.at("js/ace/ace.searchbox-autocomplete.js")'></script>

			<!-- inline scripts related to this page -->

			<!-- the following scripts are used in demo only for onpage help and you don't need them -->
		<link rel="stylesheet" href='@routes.Assets.at("css/ace.onpage-help.css")' />
		<link rel="stylesheet" href="../docs/assets/js/themes/sunburst.css" />

		<script type="text/javascript"> ace.vars['base'] = '..'; </script>
		<script src='@routes.Assets.at("js/ace/elements.onpage-help.js")'></script>
		<script src='@routes.Assets.at("js/ace/ace.onpage-help.js")'></script>
		<script src='@routes.Assets.at("javascripts/loadUsers.js")'></script>
		<script src="../docs/assets/js/rainbow.js"></script>
		<script src="../docs/assets/js/language/generic.js"></script>
		<script src="../docs/assets/js/language/html.js"></script>
		<script src="../docs/assets/js/language/css.js"></script>
		<script src="../docs/assets/js/language/javascript.js"></script>

		<script language="javascript" type="text/javascript">
			var wsUri = "ws://localhost:9000/sock";
			var output;

			function init()
			{
				output = document.getElementById("output");
				testWebSocket();
			}
			function testWebSocket()
			{
				websocket = new WebSocket(wsUri);
				websocket.onmessage = function(evt) { onMessage(evt) };
			}

			function onMessage(evt)
			{
				loadUsers();
			}

			window.addEventListener("load", init, false);
		</script>
	</body>
</html>