
<script language="javascript" type="text/javascript">

    var wsUri = "ws://localhost:9000/sock";
    var output;

    function init()
    {
        output = document.getElementById("output");
        testWebSocket();
    }
    function testWebSocket()
    {
        websocket = new WebSocket(wsUri);
        websocket.onmessage = function(evt) { onMessage(evt) };

    }


    function onMessage(evt){
        console.log(evt);
        $.ajax({
            url: "/board/" + window.location.href.split("/")[4] + "/poker/create",
            data: {cardIndex: this.innerHTML},
            method: 'post',
            context: document.body
        }).done(function () {
        });
    }


    window.addEventListener("load", init, false);
</script>

